.App {
  height: 97vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #c6c1f6;
}
.scoreBoard{
  background-image: linear-gradient(#7979d5,#4444ac) ;
  /* border: 2px solid #5151d1; */
  color: white;
  padding: 10px 30px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 8px;
}

.gameBoard {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gameBoard img{
  width: 70px;
  height: 70px;
}